# Remove given or family name from reading and word.
# Leaving only <key> marks a key to skip.
# ---
# format:  <key> 	 <reading> 	 <word>
# to skip: <key>
天海春香	あまみ	天海
如月千早	きさらぎ	如月
萩原雪歩	はぎわら	萩原
高槻やよい	たかつき	高槻
秋月律子	あきづき	秋月
三浦あずさ	みうら	三浦
水瀬伊織	みなせ	水瀬
菊地真	きくち	菊地
双海亜美	ふたみ	双海
双海真美	ふたみ	双海
双海亜美／真美
双海亜美・真美
春香
千早
雪歩
やよい
律子
あずさ
伊織
真
亜美／真美
亜美・真美
亜美
真美
高木社長
高木順一朗	たかぎ	高木
歌田音	うただ	歌田
軽口哲也	かるくち	軽口
山崎すぎお	やまさき	山崎
音無小鳥	おとなし	音無
小鳥
中村繪里子	えりこ	繪里子
今井麻美	いまい	今井
長谷優里奈	はせ	長谷
落合祐里香	おちあい	落合
仁後真耶子	にご	仁後
若林直美	わかばやし	若林
たかはし智秋	たかはし	たかはし
釘宮理恵	くぎみや	釘宮
平田宏美	ひらた	平田
下田麻美	しもだ	下田
徳丸完	とくまる	徳丸
細井治	ほそい	細井
滝田樹里	たきた	滝田
星井美希	ほしい	星井
美希
長谷川明子	はせがわ	長谷川
四条貴音	しじょう	四条
我那覇響	がなは	我那覇
貴音
響
黒井社長
黒井崇男	くろい	黒井
原由実	はら	原
沼倉愛美	ぬまくら	沼倉
子安武人	こやす	子安
日高愛	ひだか	日高
水谷絵理	みずたに	水谷
秋月涼	あきづき	秋月
愛
絵理
涼
石川社長
岡本まなみ	おかもと	岡本
サイネリア
鈴木彩音	すずき	鈴木
尾崎玲子	おざき	尾崎
武田蒼一	たけだ	武田
桜井夢子	さくらい	桜井
夢子
戸松遥	とまつ	戸松
花澤香菜	はなざわ	花澤
三瓶由布子	さんぺい	三瓶
高木順二朗	たかぎ	高木
天ヶ瀬冬馬	あまがせ	天ヶ瀬
御手洗翔太	みたらい	御手洗
伊集院北斗	いじゅういん	伊集院
浅倉杏美	あさくら	浅倉
寺島拓篤	てらしま	寺島
松岡禎丞	まつおか	松岡
神原大地	かんばら	神原
大塚芳忠	おおつか	大塚
赤羽根健治	あかばね	赤羽根
島村卯月	しまむら	島村
中野有香	なかの	中野
水本ゆかり	みずもと	水本
福山舞	ふくやま	福山
椎名法子	しいな	椎名
今井加奈	いまい	今井
持田亜里沙	もちだ	持田
三村かな子	みむら	三村
奥山沙織	おくやま	奥山
間中美里	まなか	間中
小日向美穂	こひなた	小日向
緒方智絵里	おがた	緒方
五十嵐響子	いがらし	五十嵐
柳瀬美由紀	やなせ	柳瀬
前川みく	まえかわ	前川
赤西瑛梨華	あかにし	赤西
松原早耶	まつばら	松原
相原雪乃	あいはら	相原
宮本フレデリカ	みやもと	宮本
小早川紗枝	こばやかわ	小早川
西園寺琴歌	さいおんじ	西園寺
双葉杏	ふたば	双葉
楊菲菲	やお	楊
桃井あずき	ももい	桃井
涼宮星花	すずみや	涼宮
月宮雅	つきみや	月宮
兵藤レナ	ひょうどう	兵藤
道明寺歌鈴	どうみょうじ	道明寺
柳清良	やなぎ	柳
原田美世	はらだ	原田
渋谷凛	しぶや	渋谷
黒川千秋	くろかわ	黒川
松本沙理奈	まつもと	松本
桐野アヤ	きりの	桐野
高橋礼子	たかはし	高橋
相川千夏	あいかわ	相川
川島瑞樹	かわしま	川島
神谷奈緒	かみや	神谷
上条春菜	かみじょう	上条
荒木比奈	あらき	荒木
東郷あい	とうごう	東郷
多田李衣菜	ただ	多田
水木聖來	みずき	水木
佐々木千枝	ささき	佐々木
ヘレン
松永涼	まつなが	松永
小室千奈美	こむろ	小室
高峯のあ	たかみね	高峯
高垣楓	たかがき	高垣
神崎蘭子	かんざき	神崎
伊集院惠	いじゅういん	伊集院
柊志乃	ひいらぎ	柊
北条加蓮	ほうじょう	北条
ケイト
瀬名詩織	せな	瀬名
綾瀬穂乃香	あやせ	綾瀬
佐城雪美	さじょう	佐城
篠原礼	しのはら	篠原
古澤頼子	ふるさわ	古澤
本田未央	ほんだ	本田
高森藍子	たかもり	高森
並木芽衣子	なみき	並木
龍崎薫	りゅうざき	龍崎
木村夏樹	きむら	木村
松山久美子	まつやま	松山
斉藤洋子	さいとう	斉藤
沢田麻理菜	さわだ	沢田
矢口美羽	やぐち	矢口
赤城みりあ	あかぎ	赤城
愛野渚	あいの	愛野
真鍋いつき	まなべ	真鍋
大槻唯	おおつき	大槻
姫川友紀	ひめかわ	姫川
相葉夕美	あいば	相葉
野々村そら	ののむら	野々村
浜川愛結奈	はまかわ	浜川
若林智香	わかばやし	若林
城ヶ崎美嘉	じょうがさき	城ヶ崎
城ヶ崎莉嘉	じょうがさき	城ヶ崎
仙崎恵磨	せんざき	仙崎
日野茜	ひの	日野
諸星きらり	もろぼし	諸星
十時愛梨	ととき	十時
ナターリア
相馬夏美	そうま	相馬
槙原志保	まきはら	槙原
向井拓海	むかい	向井
南条光	なんじょう	南条
トレーナー
ベテラントレーナー
マスタートレーナー
千川ちひろ	せんかわ	千川
櫻井桃華	さくらい	櫻井
三船美優	みふね	三船
喜多見柚	きたみ	喜多見
井村雪菜	いむら	井村
望月聖	もちづき	望月
イヴ・サンタクロース
江上椿	えがみ	江上
服部瞳子	はっとり	服部
上田鈴帆	うえだ	上田
市原仁奈	いちはら	市原
池袋晶葉	いけぶくろ	池袋
鷹富士茄子	たかふじ	鷹富士
日下部若葉	くさかべ	日下部
榊原里美	さかきばら	榊原
和久井留美	わくい	和久井
吉岡沙紀	よしおか	吉岡
杉坂海	すぎさか	杉坂
喜多日菜子	きた	喜多
長富蓮実	ながとみ	長富
木場真奈美	きば	木場
海老原菜帆	えびはら	海老原
輿水幸子	こしみず	輿水
梅木音葉	うめき	梅木
白坂小梅	しらさか	白坂
安斎都	あんざい	安斎
岸部彩華	きしべ	岸部
北川真尋	きたがわ	北川
浅野風香	あさの	浅野
大西由里子	おおにし	大西
氏家むつみ	うじいえ	氏家
西川保奈美	にしかわ	西川
メアリー・コクラン
小松伊吹	こまつ	小松
安部菜々	あべ	安部
工藤忍	くどう	工藤
栗原ネネ	くりはら	栗原
成宮由愛	なるみや	成宮
三好紗南	みよし	三好
キャシー・グラハム
藤居朋	ふじい	藤居
横山千佳	よこやま	横山
藤原肇	ふじわら	藤原
難波笑美	なんば	難波
古賀小春	こが	古賀
関裕美	せき	関
及川雫	おいかわ	及川
塩見周子	しおみ	塩見
浜口あやめ	はまぐち	浜口
脇山珠美	わきやま	脇山
ルーキートレーナー
新田美波	にった	新田
小関麗奈	こせき	小関
クラリス
岡崎泰葉	おかざき	岡崎
水野翠	みずの	水野
衛藤美紗希	えとう	衛藤
村上巴	むらかみ	村上
佐久間まゆ	さくま	佐久間
速水奏	はやみ	速水
村松さくら	むらまつ	村松
大石泉	おおいし	大石
土屋亜子	つちや	土屋
太田優	おおた	太田
星輝子	ほし	星
松尾千鶴	まつお	松尾
首藤葵	しゅとう	首藤
橘ありす	たちばな	橘
片桐早苗	かたぎり	片桐
丹羽仁美	にわ	丹羽
森久保乃々	もりくぼ	森久保
堀裕子	ほり	堀
棟方愛海	むなかた	棟方
アナスタシア
白菊ほたる	しらぎく	白菊
西島櫂	にしじま	西島
藤本里奈	ふじもと	藤本
早坂美玲	はやさか	早坂
大和亜季	やまと	大和
鷺沢文香	さぎさわ	鷺沢
大原みちる	おおはら	大原
結城晴	ゆうき	結城
遊佐こずえ	ゆさ	遊佐
八神マキノ	やがみ	八神
冴島清美	さえじま	冴島
ライラ
的場梨沙	まとば	的場
有浦柑奈	ありうら	有浦
大沼くるみ	おおぬま	大沼
財前時子	ざいぜん	財前
二宮飛鳥	にのみや	二宮
浅利七海	あさり	浅利
一ノ瀬志希	いちのせ	一ノ瀬
佐藤心	さとう	佐藤
乙倉悠貴	おとくら	乙倉
依田芳乃	よりた	依田
桐生つかさ	きりゅう	桐生
福原綾香	ふくはら	福原
五十嵐裕美	いがらし	五十嵐
大坪由佳	おおつぼ	大坪
早見沙織	はやみ	早見
山本希望	やまもと	山本
内田真礼	うちだ	内田
高森奈津美	たかもり	高森
松嵜麗	まつざき	松嵜
佳村はるか	よしむら	佳村
大橋彩香	おおはし	大橋
津田美波	つだ	津田
青木瑠璃子	あおき	青木
原田ひとみ	はらだ	原田
東山奈央	とうやま	東山
原紗友里	はら	原
三宅麻理恵	みやけ	三宅
洲崎綾	すざき	洲崎
赤﨑千夏	あかさき	赤﨑
黒沢ともよ	くろさわ	黒沢
竹達彩奈	たけたつ	竹達
上坂すみれ	うえさか	上坂
大空直美	おおぞら	大空
桜咲千依	おうさき	桜咲
牧野由依	まきの	牧野
金子有希	かねこ	金子
松田颯水	まつだ	松田
佐藤利奈	さとう	佐藤
松井恵理子	まつい	松井
渕上舞	ふちがみ	渕上
立花理香	たちばな	立花
鈴木絵理	すずき	鈴木
杜野まこ	もりの	杜野
M・A・O
市道真央	いちみち	市道
髙野麻美	たかの	髙野
飯田友子	いいだ	飯田
久野美咲	くの	久野
佐藤亜美菜	さとう	佐藤
今井麻夏	いまい	今井
長島光那	ながしま	長島
藤村歩	ふじむら	藤村
はるかさん
ちひゃー
ゆきぽ
やよ
ちっちゃん
みうらさん
いお
まこちー
こあみ
こまみ
あふぅ
ちびき
たかにゃ
ぴよぴよ
大川透	おおかわ	大川
間島淳司	まじま	間島
春日未来	かすが	春日
松田亜利沙	まつだ	松田
最上静香	もがみ	最上
真壁瑞希	まかべ	真壁
伊吹翼	いぶき	伊吹
所恵美	ところ	所
豊川風花	とよかわ	豊川
木下ひなた	きのした	木下
天空橋朋花	てんくうばし	天空橋
箱崎星梨花	はこざき	箱崎
大神環	おおがみ	大神
北上麗花	きたかみ	北上
島原エレナ	しまばら	島原
福田のり子	ふくだ	福田
百瀬莉緒	ももせ	百瀬
横山奈緒	よこやま	横山
徳川まつり	とくがわ	徳川
高山紗代子	たかやま	高山
望月杏奈	もちづき	望月
エミリー・スチュアート
エミリー
高坂海美	こうさか	高坂
佐竹美奈子	さたけ	佐竹
馬場このみ	ばば	馬場
中谷育	なかたに	中谷
七尾百合子	ななお	七尾
二階堂千鶴	にかいどう	二階堂
宮尾美也	みやお	宮尾
ジュリア
田中琴葉	たなか	田中
矢吹可奈	やぶき	矢吹
永吉昴	ながよし	永吉
野々原茜	ののはら	野々原
舞浜歩	まいはま	舞浜
北沢志保	きたざわ	北沢
篠宮可憐	しのみや	篠宮
周防桃子	すおう	周防
伴田路子	はんだ	伴田
ロコ
山崎はるか	やまざき	山崎
田村奈央	たむら	田村
寺川愛美	てらかわ	寺川
愛美
駒形友梨	こまがた	駒形
種田梨沙	たねだ	種田
小岩井ことり	こいわい	小岩井
麻倉もも	あさくら	麻倉
村川梨衣	むらかわ	村川
田所あずさ	たどころ	田所
夏川椎菜	なつかわ	夏川
木戸衣吹	きど	木戸
郁原ゆう	かはら	郁原
稲川英里	いながわ	稲川
平山笑美	ひらやま	平山
雨宮天	あまみや	雨宮
大関英里	おおぜき	大関
角元明日香	かくもと	角元
斉藤佑圭	さいとう	斉藤
小笠原早紀	おがさわら	小笠原
高橋未奈美	たかはし	高橋
浜崎奈々	はまさき	浜崎
戸田めぐみ	とだ	戸田
阿部里果	あべ	阿部
山口立花子	やまぐち	山口
渡部優衣	わたなべ	渡部
Machico
上田麗奈	うえだ	上田
近藤唯	こんどう	近藤
渡部恵子	わたなべ	渡部
諏訪彩花	すわ	諏訪
藤井ゆきよ	ふじい	藤井
末柄里恵	すえがら	末柄
原嶋あかり	はらしま	原嶋
伊藤美来	いとう	伊藤
野村香菜子	のむら	野村
中村温姫	なかむら	中村
桐谷蝶々	きりたに	桐谷
玲音
茅原実里	ちはら	茅原
武内駿輔	たけうち	武内
仲村宗悟	なかむら	仲村
内田雄馬	うちだ	内田
八代拓	やしろ	八代
繪里子
ミンゴス
真耶子
赤羽根P
武内P
